#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

#clock {
  background-image: linear-gradient(#584d4d, #392d44);
  box-sizing: border-box;
  clip-path: circle(50%);
  border-radius: 23px;
  padding: 12px;
  height: 360px;
  width: 360px;
}

input {
  margin: 3px;
  width: 3rem;
  height: 1.5rem;
  font-size: 1.2rem;
  text-align: right;
  text-shadow: 1px 1px 3px #6c4a8b, 1em 1em 2em #7c7474, 0em 0em 0.8em #beb2b2;
}

#session-container {
  margin: 24px 0px 12px 0px;
}

#break-container {
  margin: 12px 0px 24px 0px;
}

#session-label, #break-label {
  margin: 12px 0px 4px 0px;
  font-size: 1.2rem;
}

#timer-label {
  font-size: 2rem;
  margin: 12px 0px 4px 0px;
}

#time-left {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px;
} 

button {
  margin: 3px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  background-image: linear-gradient(#2c2c2c, #141414);
}
button:hover {
  background-image: linear-gradient(#444444, #1d1d1d);
}

#start_stop, #reset {
  height: 2.3rem;
  margin-bottom: 20px;
}

.update {
  width: 2.3rem;
  height: 2rem;
  text-align: center;
}